<!DOCTYPE html>
<html lang="en">
<head>
	{% if title %}
	<title>XYTDB - {{title}}</title>
	{% else %}
	<title>XYTDB - A searchable database for Pokemon X and Y trades</title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ionicons.min.css') }}" media="screen">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/extra.css') }}" media="screen">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
	<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<!-- Bootstrap javascript -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<link href="{{ url_for('static', filename='css/toastr.min.css') }}" rel="stylesheet"/>
	<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/extra.js') }}"></script>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top navbar-static-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{url_for('index')}}">Home</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% if g.user.is_authenticated() %}
					<li><a href="{{ url_for('user', nickname = g.user.nickname) }}">Profile</a></li>
					<li><a href="{{ url_for('logout') }}">Log out</a></li>
					{% else %}
					<li><a href="#loginModal" data-toggle="modal">Log in</a></li>
					{% endif %}

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://github.com/sharktamer/pokemon_xy_trade_lister">Source</a></li>
					<li><a href="https://github.com/sharktamer/pokemon_xy_trade_lister/issues">Bugs</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		{% block body %}{% endblock %}

		<div style="padding-bottom: 20px"></div>

		<!-- Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="loginModalLabel">Log in</h4>
					</div>
					<div class="modal-body">
						{% include 'login.html' %}
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
<!-- 	{% if not loginSuccess %}
		<script type="text/javascript">
			$('#loginModal').modal('show');
			$('#inputOpenIdGroup').addClass('has-error');
			$('#inputOpenID').removeAttr('placeholder');
			$('#inputOpenID').attr("placeholder", "Invalid OpenID, please try again.")
		</script>
	{% endif %} -->
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<script>
					toastr.{{category}}('{{ message }}')
				</script>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
</body>
