<!DOCTYPE html>
<html lang="en">
<head>
	{% if title %}
	<title>Goon trade lister - {{title}}</title>
	{% else %}
	<title>Goon trade lister</title>
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/extra.css') }}" media="screen">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top navbar-static-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Home</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Profile</a></li>
					<li><a href="#">Log out</a></li>
					<li><a href="#loginModal" data-toggle="modal">Log in</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://github.com/sharktamer/pokemon_xy_trade_lister">Source</a></li>
					<li><a href="https://github.com/sharktamer/pokemon_xy_trade_lister/issues">Bugs</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		<div class="jumbotron text-center">
			<img src="{{ url_for('static', filename='img/karrablast_shelmet.png') }}">
			<h1>Goon trade lister</h1>
			<div class="lead">
				List the stats, moves and abilities of your available trades.
			</div>
		</div>

		{% block body %}{% endblock %}

		<!-- Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-vertical-centered">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="loginModalLabel">Log in</h4>
					</div>
					<div class="modal-body">
						{% include 'login.html' %}
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Bootstrap javascript -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	{% if not loginSuccess %}
		<script>$('#loginModal').modal('show')</script>
	{% endif %}
</body>
