{% extends "base.html" %}
{% block body %}
<div class="jumbotron text-center">
	<img src="{{ url_for('static', filename='img/karrablast_shelmet.png') }}">
	<h1>XYTDB</h1>
	<div class="lead">
		A searchable database for Pokemon X and Y trades.
	</div>
</div>
<div class="row">
	<form action="search" method="post" name="search" class="col-md-8 col-md-offset-2">
		<div class="input-group input-group-lg form-group">
			{{sForm.search(class_="form-control", placeholder="Search for a trade")}}
			<span class="input-group-btn">
		    	<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
		    </span>
		</div>
		{{sForm.hidden_tag()}}
	</form>
</div>
<div class="hidden-xs" style="padding-bottom: 40px"></div>
<div class="visible-xs" style="padding-bottom: 20px"></div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{% for trade in trades %}
		<div class="col-md-4 col-xs-4">
			<p class="text-center"><img src="{{ url_for('static', filename='img/pkm_images/{}.png'.format((trade.dex_no|string()).zfill(3))) }}" alt="{{ trade.species}}"></p>
		</div>
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{% for trade in trades %}
		<div class="col-md-4 col-xs-4">
			<p class="text-center"><small><a href="{{ url_for('user', nickname=trade.owner.nickname) }}">{{trade.owner.nickname}}</a>'s {{trade.species}}</small></p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}