{% extends "base.html" %}
{% block body %}
<div class="row">
	<form action="search" method="post" name="search" class="col-md-8 col-md-offset-2">
		<div class="input-group input-group-lg form-group">
			{{form.search(class_="form-control", placeholder="Search for a trade")}}
			<span class="input-group-btn">
		    	<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
		    </span>
		</div>
		{{form.hidden_tag()}}
	</form>
</div>
	{% for trade in trades|slice(3) %}
	{% include 'mon_detail.html' %}
	{% endfor %}
<hr>
{% endfor %}
{% endblock %}