<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
<select class="selectpicker" data-live-search="true">	
	<option value="Bulbasaur">001: Bulbasaur</option>
	<option value="Ivysaur">002: Ivysaur</option>
	<option value="Venusaur">003: Venusaur</option>
	<option value="Charmander">004: Charmander</option>
	<option value="Charmeleon">005: Charmeleon</option>
	<option value="Charizard">006: Charizard</option>
	<option value="Squirtle">007: Squirtle</option>
	<option value="Wartortle">008: Wartortle</option>
	<option value="Blastoise">009: Blastoise</option>
	<option value="Caterpie">010: Caterpie</option>
	<option value="Metapod">011: Metapod</option>
	<option value="Butterfree">012: Butterfree</option>
	<option value="Weedle">013: Weedle</option>
	<option value="Kakuna">014: Kakuna</option>
	<option value="Beedrill">015: Beedrill</option>
	<option value="Pidgey">016: Pidgey</option>
	<option value="Pidgeotto">017: Pidgeotto</option>
	<option value="Pidgeot">018: Pidgeot</option>
	<option value="RattataM">019: RattataM</option>
	<option value="Raticate">020: Raticate</option>
	<option value="Spearow">021: Spearow</option>
	<option value="Fearow">022: Fearow</option>
	<option value="Ekans">023: Ekans</option>
	<option value="Arbok">024: Arbok</option>
	<option value="Pikachu">025: Pikachu</option>
	<option value="Raichu">026: Raichu</option>
	<option value="Sandshrew">027: Sandshrew</option>
	<option value="Sandslash">028: Sandslash</option>
	<option value="NidoranF">029: NidoranF</option>
	<option value="Nidorina">030: Nidorina</option>
	<option value="Nidoqueen">031: Nidoqueen</option>
	<option value="NidoranM">032: NidoranM</option>
	<option value="Nidorino">033: Nidorino</option>
	<option value="Nidoking">034: Nidoking</option>
	<option value="Clefairy">035: Clefairy</option>
	<option value="Clefable">036: Clefable</option>
	<option value="Vulpix">037: Vulpix</option>
	<option value="Ninetales">038: Ninetales</option>
	<option value="Jigglypuff">039: Jigglypuff</option>
	<option value="Wigglytuff">040: Wigglytuff</option>
	<option value="Zubat">041: Zubat</option>
	<option value="Golbat">042: Golbat</option>
	<option value="Oddish">043: Oddish</option>
	<option value="Gloom">044: Gloom</option>
	<option value="Vileplume">045: Vileplume</option>
	<option value="Paras">046: Paras</option>
	<option value="Parasect">047: Parasect</option>
	<option value="Venonat">048: Venonat</option>
	<option value="Venomoth">049: Venomoth</option>
	<option value="Diglett">050: Diglett</option>
	<option value="Dugtrio">051: Dugtrio</option>
	<option value="Meowth">052: Meowth</option>
	<option value="Persian">053: Persian</option>
	<option value="Psyduck">054: Psyduck</option>
	<option value="Golduck">055: Golduck</option>
	<option value="Mankey">056: Mankey</option>
	<option value="Primeape">057: Primeape</option>
	<option value="Growlithe">058: Growlithe</option>
	<option value="Arcanine">059: Arcanine</option>
	<option value="Poliwag">060: Poliwag</option>
	<option value="Poliwhirl">061: Poliwhirl</option>
	<option value="Poliwrath">062: Poliwrath</option>
	<option value="Abra">063: Abra</option>
	<option value="Kadabra">064: Kadabra</option>
	<option value="Alakazam">065: Alakazam</option>
	<option value="Machop">066: Machop</option>
	<option value="Machoke">067: Machoke</option>
	<option value="Machamp">068: Machamp</option>
	<option value="Bellsprout">069: Bellsprout</option>
	<option value="Weepinbell">070: Weepinbell</option>
	<option value="Victreebel">071: Victreebel</option>
	<option value="Tentacool">072: Tentacool</option>
	<option value="Tentacruel">073: Tentacruel</option>
	<option value="Geodude">074: Geodude</option>
	<option value="Graveler">075: Graveler</option>
	<option value="Golem">076: Golem</option>
	<option value="Ponyta">077: Ponyta</option>
	<option value="Rapidash">078: Rapidash</option>
	<option value="Slowpoke">079: Slowpoke</option>
	<option value="Slowbro">080: Slowbro</option>
	<option value="Magnemite">081: Magnemite</option>
	<option value="Magneton">082: Magneton</option>
	<option value="Farfetch'd">083: Farfetch'd</option>
	<option value="Doduo">084: Doduo</option>
	<option value="Dodrio">085: Dodrio</option>
	<option value="Seel">086: Seel</option>
	<option value="Dewgong">087: Dewgong</option>
	<option value="Grimer">088: Grimer</option>
	<option value="Muk">089: Muk</option>
	<option value="Shellder">090: Shellder</option>
	<option value="Cloyster">091: Cloyster</option>
	<option value="Gastly">092: Gastly</option>
	<option value="Haunter">093: Haunter</option>
	<option value="Gengar">094: Gengar</option>
	<option value="Onix">095: Onix</option>
	<option value="Drowzee">096: Drowzee</option>
	<option value="Hypno">097: Hypno</option>
	<option value="Krabby">098: Krabby</option>
	<option value="Kingler">099: Kingler</option>
	<option value="Voltorb">100: Voltorb</option>
	<option value="Electrode">101: Electrode</option>
	<option value="Exeggcute">102: Exeggcute</option>
	<option value="Exeggutor">103: Exeggutor</option>
	<option value="Cubone">104: Cubone</option>
	<option value="Marowak">105: Marowak</option>
	<option value="Hitmonlee">106: Hitmonlee</option>
	<option value="Hitmonchan">107: Hitmonchan</option>
	<option value="Lickitung">108: Lickitung</option>
	<option value="Koffing">109: Koffing</option>
	<option value="Weezing">110: Weezing</option>
	<option value="Rhyhorn">111: Rhyhorn</option>
	<option value="Rhydon">112: Rhydon</option>
	<option value="Chansey">113: Chansey</option>
	<option value="Tangela">114: Tangela</option>
	<option value="Kangaskhan">115: Kangaskhan</option>
	<option value="Horsea">116: Horsea</option>
	<option value="Seadra">117: Seadra</option>
	<option value="Goldeen">118: Goldeen</option>
	<option value="Seaking">119: Seaking</option>
	<option value="Staryu">120: Staryu</option>
	<option value="Starmie">121: Starmie</option>
	<option value="Mr. Mime">122: Mr. Mime</option>
	<option value="Scyther">123: Scyther</option>
	<option value="Jynx">124: Jynx</option>
	<option value="Electabuzz">125: Electabuzz</option>
	<option value="Magmar">126: Magmar</option>
	<option value="Pinsir">127: Pinsir</option>
	<option value="Tauros">128: Tauros</option>
	<option value="Magikarp">129: Magikarp</option>
	<option value="Gyarados">130: Gyarados</option>
	<option value="Lapras">131: Lapras</option>
	<option value="Ditto">132: Ditto</option>
	<option value="Eevee">133: Eevee</option>
	<option value="Vaporeon">134: Vaporeon</option>
	<option value="Jolteon">135: Jolteon</option>
	<option value="Flareon">136: Flareon</option>
	<option value="Porygon">137: Porygon</option>
	<option value="Omanyte">138: Omanyte</option>
	<option value="Omastar">139: Omastar</option>
	<option value="Kabuto">140: Kabuto</option>
	<option value="Kabutops">141: Kabutops</option>
	<option value="Aerodactyl">142: Aerodactyl</option>
	<option value="Snorlax">143: Snorlax</option>
	<option value="Articuno">144: Articuno</option>
	<option value="Zapdos">145: Zapdos</option>
	<option value="Moltres">146: Moltres</option>
	<option value="Dratini">147: Dratini</option>
	<option value="Dragonair">148: Dragonair</option>
	<option value="Dragonite">149: Dragonite</option>
	<option value="Mewtwo">150: Mewtwo</option>
	<option value="Mew">151: Mew</option>
	<option value="Chikorita">152: Chikorita</option>
	<option value="Bayleef">153: Bayleef</option>
	<option value="Meganium">154: Meganium</option>
	<option value="Cyndaquil">155: Cyndaquil</option>
	<option value="Quilava">156: Quilava</option>
	<option value="Typhlosion">157: Typhlosion</option>
	<option value="Totodile">158: Totodile</option>
	<option value="Croconaw">159: Croconaw</option>
	<option value="Feraligatr">160: Feraligatr</option>
	<option value="Sentret">161: Sentret</option>
	<option value="Furret">162: Furret</option>
	<option value="Hoothoot">163: Hoothoot</option>
	<option value="Noctowl">164: Noctowl</option>
	<option value="Ledyba">165: Ledyba</option>
	<option value="Ledian">166: Ledian</option>
	<option value="Spinarak">167: Spinarak</option>
	<option value="Ariados">168: Ariados</option>
	<option value="Crobat">169: Crobat</option>
	<option value="Chinchou">170: Chinchou</option>
	<option value="Lanturn">171: Lanturn</option>
	<option value="Pichu">172: Pichu</option>
	<option value="Cleffa">173: Cleffa</option>
	<option value="Igglybuff">174: Igglybuff</option>
	<option value="Togepi">175: Togepi</option>
	<option value="Togetic">176: Togetic</option>
	<option value="Natu">177: Natu</option>
	<option value="Xatu">178: Xatu</option>
	<option value="Mareep">179: Mareep</option>
	<option value="Flaaffy">180: Flaaffy</option>
	<option value="Ampharos">181: Ampharos</option>
	<option value="Bellossom">182: Bellossom</option>
	<option value="Marill">183: Marill</option>
	<option value="Azumarill">184: Azumarill</option>
	<option value="Sudowoodo">185: Sudowoodo</option>
	<option value="Politoed">186: Politoed</option>
	<option value="Hoppip">187: Hoppip</option>
	<option value="Skiploom">188: Skiploom</option>
	<option value="Jumpluff">189: Jumpluff</option>
	<option value="Aipom">190: Aipom</option>
	<option value="Sunkern">191: Sunkern</option>
	<option value="Sunflora">192: Sunflora</option>
	<option value="Yanma">193: Yanma</option>
	<option value="Wooper">194: Wooper</option>
	<option value="Quagsire">195: Quagsire</option>
	<option value="Espeon">196: Espeon</option>
	<option value="Umbreon">197: Umbreon</option>
	<option value="Murkrow">198: Murkrow</option>
	<option value="Slowking">199: Slowking</option>
	<option value="Misdreavus">200: Misdreavus</option>
	<option value="Unown">201: Unown</option>
	<option value="Wobbuffet">202: Wobbuffet</option>
	<option value="Girafarig">203: Girafarig</option>
	<option value="Pineco">204: Pineco</option>
	<option value="Forretress">205: Forretress</option>
	<option value="Dunsparce">206: Dunsparce</option>
	<option value="Gligar">207: Gligar</option>
	<option value="Steelix">208: Steelix</option>
	<option value="Snubbull">209: Snubbull</option>
	<option value="Granbull">210: Granbull</option>
	<option value="Qwilfish">211: Qwilfish</option>
	<option value="Scizor">212: Scizor</option>
	<option value="Shuckle">213: Shuckle</option>
	<option value="Heracross">214: Heracross</option>
	<option value="Sneasel">215: Sneasel</option>
	<option value="Teddiursa">216: Teddiursa</option>
	<option value="Ursaring">217: Ursaring</option>
	<option value="Slugma">218: Slugma</option>
	<option value="Magcargo">219: Magcargo</option>
	<option value="Swinub">220: Swinub</option>
	<option value="Piloswine">221: Piloswine</option>
	<option value="Corsola">222: Corsola</option>
	<option value="Remoraid">223: Remoraid</option>
	<option value="Octillery">224: Octillery</option>
	<option value="Delibird">225: Delibird</option>
	<option value="Mantine">226: Mantine</option>
	<option value="Skarmory">227: Skarmory</option>
	<option value="Houndour">228: Houndour</option>
	<option value="Houndoom">229: Houndoom</option>
	<option value="Kingdra">230: Kingdra</option>
	<option value="Phanpy">231: Phanpy</option>
	<option value="Donphan">232: Donphan</option>
	<option value="Porygon2">233: Porygon2</option>
	<option value="Stantler">234: Stantler</option>
	<option value="Smeargle">235: Smeargle</option>
	<option value="Tyrogue">236: Tyrogue</option>
	<option value="Hitmontop">237: Hitmontop</option>
	<option value="Smoochum">238: Smoochum</option>
	<option value="Elekid">239: Elekid</option>
	<option value="Magby">240: Magby</option>
	<option value="Miltank">241: Miltank</option>
	<option value="Blissey">242: Blissey</option>
	<option value="Raikou">243: Raikou</option>
	<option value="Entei">244: Entei</option>
	<option value="Suicune">245: Suicune</option>
	<option value="Larvitar">246: Larvitar</option>
	<option value="Pupitar">247: Pupitar</option>
	<option value="Tyranitar">248: Tyranitar</option>
	<option value="Lugia">249: Lugia</option>
	<option value="Ho-Oh">250: Ho-Oh</option>
	<option value="Celebi">251: Celebi</option>
	<option value="Treecko">252: Treecko</option>
	<option value="Grovyle">253: Grovyle</option>
	<option value="Sceptile">254: Sceptile</option>
	<option value="Torchic">255: Torchic</option>
	<option value="Combusken">256: Combusken</option>
	<option value="Blaziken">257: Blaziken</option>
	<option value="Mudkip">258: Mudkip</option>
	<option value="Marshtomp">259: Marshtomp</option>
	<option value="Swampert">260: Swampert</option>
	<option value="Poochyena">261: Poochyena</option>
	<option value="Mightyena">262: Mightyena</option>
	<option value="Zigzagoon">263: Zigzagoon</option>
	<option value="Linoone">264: Linoone</option>
	<option value="Wurmple">265: Wurmple</option>
	<option value="Silcoon">266: Silcoon</option>
	<option value="Beautifly">267: Beautifly</option>
	<option value="Cascoon">268: Cascoon</option>
	<option value="Dustox">269: Dustox</option>
	<option value="Lotad">270: Lotad</option>
	<option value="Lombre">271: Lombre</option>
	<option value="Ludicolo">272: Ludicolo</option>
	<option value="Seedot">273: Seedot</option>
	<option value="Nuzleaf">274: Nuzleaf</option>
	<option value="Shiftry">275: Shiftry</option>
	<option value="Taillow">276: Taillow</option>
	<option value="Swellow">277: Swellow</option>
	<option value="Wingull">278: Wingull</option>
	<option value="Pelipper">279: Pelipper</option>
	<option value="Ralts">280: Ralts</option>
	<option value="Kirlia">281: Kirlia</option>
	<option value="Gardevoir">282: Gardevoir</option>
	<option value="Surskit">283: Surskit</option>
	<option value="Masquerain">284: Masquerain</option>
	<option value="Shroomish">285: Shroomish</option>
	<option value="Breloom">286: Breloom</option>
	<option value="Slakoth">287: Slakoth</option>
	<option value="Vigoroth">288: Vigoroth</option>
	<option value="Slaking">289: Slaking</option>
	<option value="Nincada">290: Nincada</option>
	<option value="Ninjask">291: Ninjask</option>
	<option value="Shedinja">292: Shedinja</option>
	<option value="Whismur">293: Whismur</option>
	<option value="Loudred">294: Loudred</option>
	<option value="Exploud">295: Exploud</option>
	<option value="Makuhita">296: Makuhita</option>
	<option value="Hariyama">297: Hariyama</option>
	<option value="Azurill">298: Azurill</option>
	<option value="Nosepass">299: Nosepass</option>
	<option value="Skitty">300: Skitty</option>
	<option value="Delcatty">301: Delcatty</option>
	<option value="Sableye">302: Sableye</option>
	<option value="Mawile">303: Mawile</option>
	<option value="Aron">304: Aron</option>
	<option value="Lairon">305: Lairon</option>
	<option value="Aggron">306: Aggron</option>
	<option value="Meditite">307: Meditite</option>
	<option value="Medicham">308: Medicham</option>
	<option value="Electrike">309: Electrike</option>
	<option value="Manectric">310: Manectric</option>
	<option value="Plusle">311: Plusle</option>
	<option value="Minun">312: Minun</option>
	<option value="Volbeat">313: Volbeat</option>
	<option value="Illumise">314: Illumise</option>
	<option value="Roselia">315: Roselia</option>
	<option value="Gulpin">316: Gulpin</option>
	<option value="Swalot">317: Swalot</option>
	<option value="Carvanha">318: Carvanha</option>
	<option value="Sharpedo">319: Sharpedo</option>
	<option value="Wailmer">320: Wailmer</option>
	<option value="Wailord">321: Wailord</option>
	<option value="Numel">322: Numel</option>
	<option value="Camerupt">323: Camerupt</option>
	<option value="Torkoal">324: Torkoal</option>
	<option value="Spoink">325: Spoink</option>
	<option value="Grumpig">326: Grumpig</option>
	<option value="Spinda">327: Spinda</option>
	<option value="Trapinch">328: Trapinch</option>
	<option value="Vibrava">329: Vibrava</option>
	<option value="Flygon">330: Flygon</option>
	<option value="Cacnea">331: Cacnea</option>
	<option value="Cacturne">332: Cacturne</option>
	<option value="Swablu">333: Swablu</option>
	<option value="Altaria">334: Altaria</option>
	<option value="Zangoose">335: Zangoose</option>
	<option value="Seviper">336: Seviper</option>
	<option value="Lunatone">337: Lunatone</option>
	<option value="Solrock">338: Solrock</option>
	<option value="Barboach">339: Barboach</option>
	<option value="Whiscash">340: Whiscash</option>
	<option value="Corphish">341: Corphish</option>
	<option value="Crawdaunt">342: Crawdaunt</option>
	<option value="Baltoy">343: Baltoy</option>
	<option value="Claydol">344: Claydol</option>
	<option value="Lileep">345: Lileep</option>
	<option value="Cradily">346: Cradily</option>
	<option value="Anorith">347: Anorith</option>
	<option value="Armaldo">348: Armaldo</option>
	<option value="Feebas">349: Feebas</option>
	<option value="Milotic">350: Milotic</option>
	<option value="Castform">351: Castform</option>
	<option value="Kecleon">352: Kecleon</option>
	<option value="Shuppet">353: Shuppet</option>
	<option value="Banette">354: Banette</option>
	<option value="Duskull">355: Duskull</option>
	<option value="Dusclops">356: Dusclops</option>
	<option value="Tropius">357: Tropius</option>
	<option value="Chimecho">358: Chimecho</option>
	<option value="Absol">359: Absol</option>
	<option value="Wynaut">360: Wynaut</option>
	<option value="Snorunt">361: Snorunt</option>
	<option value="Glalie">362: Glalie</option>
	<option value="Spheal">363: Spheal</option>
	<option value="Sealeo">364: Sealeo</option>
	<option value="Walrein">365: Walrein</option>
	<option value="Clamperl">366: Clamperl</option>
	<option value="Huntail">367: Huntail</option>
	<option value="Gorebyss">368: Gorebyss</option>
	<option value="Relicanth">369: Relicanth</option>
	<option value="Luvdisc">370: Luvdisc</option>
	<option value="Bagon">371: Bagon</option>
	<option value="Shelgon">372: Shelgon</option>
	<option value="Salamence">373: Salamence</option>
	<option value="Beldum">374: Beldum</option>
	<option value="Metang">375: Metang</option>
	<option value="Metagross">376: Metagross</option>
	<option value="Regirock">377: Regirock</option>
	<option value="Regice">378: Regice</option>
	<option value="Registeel">379: Registeel</option>
	<option value="Latias">380: Latias</option>
	<option value="Latios">381: Latios</option>
	<option value="Kyogre">382: Kyogre</option>
	<option value="Groudon">383: Groudon</option>
	<option value="Rayquaza">384: Rayquaza</option>
	<option value="Jirachi">385: Jirachi</option>
	<option value="Deoxys">386: Deoxys</option>
	<option value="Turtwig">387: Turtwig</option>
	<option value="Grotle">388: Grotle</option>
	<option value="Torterra">389: Torterra</option>
	<option value="Chimchar">390: Chimchar</option>
	<option value="Monferno">391: Monferno</option>
	<option value="Infernape">392: Infernape</option>
	<option value="Piplup">393: Piplup</option>
	<option value="Prinplup">394: Prinplup</option>
	<option value="Empoleon">395: Empoleon</option>
	<option value="Starly">396: Starly</option>
	<option value="Staravia">397: Staravia</option>
	<option value="Staraptor">398: Staraptor</option>
	<option value="Bidoof">399: Bidoof</option>
	<option value="Bibarel">400: Bibarel</option>
	<option value="Kricketot">401: Kricketot</option>
	<option value="Kricketune">402: Kricketune</option>
	<option value="Shinx">403: Shinx</option>
	<option value="Luxio">404: Luxio</option>
	<option value="Luxray">405: Luxray</option>
	<option value="Budew">406: Budew</option>
	<option value="Roserade">407: Roserade</option>
	<option value="Cranidos">408: Cranidos</option>
	<option value="Rampardos">409: Rampardos</option>
	<option value="Shieldon">410: Shieldon</option>
	<option value="Bastiodon">411: Bastiodon</option>
	<option value="Burmy">412: Burmy</option>
	<option value="Wormadam">413: Wormadam</option>
	<option value="Mothim">414: Mothim</option>
	<option value="Combee">415: Combee</option>
	<option value="Vespiquen">416: Vespiquen</option>
	<option value="Pachirisu">417: Pachirisu</option>
	<option value="Buizel">418: Buizel</option>
	<option value="Floatzel">419: Floatzel</option>
	<option value="Cherubi">420: Cherubi</option>
	<option value="Cherrim">421: Cherrim</option>
	<option value="Shellos">422: Shellos</option>
	<option value="Gastrodon">423: Gastrodon</option>
	<option value="Ambipom">424: Ambipom</option>
	<option value="Drifloon">425: Drifloon</option>
	<option value="Drifblim">426: Drifblim</option>
	<option value="Buneary">427: Buneary</option>
	<option value="Lopunny">428: Lopunny</option>
	<option value="Mismagius">429: Mismagius</option>
	<option value="Honchkrow">430: Honchkrow</option>
	<option value="Glameow">431: Glameow</option>
	<option value="Purugly">432: Purugly</option>
	<option value="Chingling">433: Chingling</option>
	<option value="Stunky">434: Stunky</option>
	<option value="Skuntank">435: Skuntank</option>
	<option value="Bronzor">436: Bronzor</option>
	<option value="Bronzong">437: Bronzong</option>
	<option value="Bonsly">438: Bonsly</option>
	<option value="Mime Jr.">439: Mime Jr.</option>
	<option value="Happiny">440: Happiny</option>
	<option value="Chatot">441: Chatot</option>
	<option value="Spiritomb">442: Spiritomb</option>
	<option value="Gible">443: Gible</option>
	<option value="Gabite">444: Gabite</option>
	<option value="Garchomp">445: Garchomp</option>
	<option value="Munchlax">446: Munchlax</option>
	<option value="Riolu">447: Riolu</option>
	<option value="Lucario">448: Lucario</option>
	<option value="Hippopotas">449: Hippopotas</option>
	<option value="Hippowdon">450: Hippowdon</option>
	<option value="Skorupi">451: Skorupi</option>
	<option value="Drapion">452: Drapion</option>
	<option value="Croagunk">453: Croagunk</option>
	<option value="Toxicroak">454: Toxicroak</option>
	<option value="Carnivine">455: Carnivine</option>
	<option value="Finneon">456: Finneon</option>
	<option value="Lumineon">457: Lumineon</option>
	<option value="Mantyke">458: Mantyke</option>
	<option value="Snover">459: Snover</option>
	<option value="Abomasnow">460: Abomasnow</option>
	<option value="Weavile">461: Weavile</option>
	<option value="Magnezone">462: Magnezone</option>
	<option value="Lickilicky">463: Lickilicky</option>
	<option value="Rhyperior">464: Rhyperior</option>
	<option value="Tangrowth">465: Tangrowth</option>
	<option value="Electivire">466: Electivire</option>
	<option value="Magmortar">467: Magmortar</option>
	<option value="Togekiss">468: Togekiss</option>
	<option value="Yanmega">469: Yanmega</option>
	<option value="Leafeon">470: Leafeon</option>
	<option value="Glaceon">471: Glaceon</option>
	<option value="Gliscor">472: Gliscor</option>
	<option value="Mamoswine">473: Mamoswine</option>
	<option value="Porygon-Z">474: Porygon-Z</option>
	<option value="Gallade">475: Gallade</option>
	<option value="Probopass">476: Probopass</option>
	<option value="Dusknoir">477: Dusknoir</option>
	<option value="Froslass">478: Froslass</option>
	<option value="Rotom">479: Rotom</option>
	<option value="Uxie">480: Uxie</option>
	<option value="Mesprit">481: Mesprit</option>
	<option value="Azelf">482: Azelf</option>
	<option value="Dialga">483: Dialga</option>
	<option value="Palkia">484: Palkia</option>
	<option value="Heatran">485: Heatran</option>
	<option value="Regigigas">486: Regigigas</option>
	<option value="Giratina">487: Giratina</option>
	<option value="Cresselia">488: Cresselia</option>
	<option value="Phione">489: Phione</option>
	<option value="Manaphy">490: Manaphy</option>
	<option value="Darkrai">491: Darkrai</option>
	<option value="Shaymin">492: Shaymin</option>
	<option value="Arceus">493: Arceus</option>
	<option value="Victini">494: Victini</option>
	<option value="Snivy">495: Snivy</option>
	<option value="Servine">496: Servine</option>
	<option value="Serperior">497: Serperior</option>
	<option value="Tepig">498: Tepig</option>
	<option value="Pignite">499: Pignite</option>
	<option value="Emboar">500: Emboar</option>
	<option value="Oshawott">501: Oshawott</option>
	<option value="Dewott">502: Dewott</option>
	<option value="Samurott">503: Samurott</option>
	<option value="Patrat">504: Patrat</option>
	<option value="Watchog">505: Watchog</option>
	<option value="Lillipup">506: Lillipup</option>
	<option value="Herdier">507: Herdier</option>
	<option value="Stoutland">508: Stoutland</option>
	<option value="Purrloin">509: Purrloin</option>
	<option value="Liepard">510: Liepard</option>
	<option value="Pansage">511: Pansage</option>
	<option value="Simisage">512: Simisage</option>
	<option value="Pansear">513: Pansear</option>
	<option value="Simisear">514: Simisear</option>
	<option value="Panpour">515: Panpour</option>
	<option value="Simipour">516: Simipour</option>
	<option value="Munna">517: Munna</option>
	<option value="Musharna">518: Musharna</option>
	<option value="Pidove">519: Pidove</option>
	<option value="Tranquill">520: Tranquill</option>
	<option value="Unfezant">521: Unfezant</option>
	<option value="Blitzle">522: Blitzle</option>
	<option value="Zebstrika">523: Zebstrika</option>
	<option value="Roggenrola">524: Roggenrola</option>
	<option value="Boldore">525: Boldore</option>
	<option value="Gigalith">526: Gigalith</option>
	<option value="Woobat">527: Woobat</option>
	<option value="Swoobat">528: Swoobat</option>
	<option value="Drilbur">529: Drilbur</option>
	<option value="Excadrill">530: Excadrill</option>
	<option value="Audino">531: Audino</option>
	<option value="Timburr">532: Timburr</option>
	<option value="Gurdurr">533: Gurdurr</option>
	<option value="Conkeldurr">534: Conkeldurr</option>
	<option value="Tympole">535: Tympole</option>
	<option value="Palpitoad">536: Palpitoad</option>
	<option value="Seismitoad">537: Seismitoad</option>
	<option value="Throh">538: Throh</option>
	<option value="Sawk">539: Sawk</option>
	<option value="Sewaddle">540: Sewaddle</option>
	<option value="Swadloon">541: Swadloon</option>
	<option value="Leavanny">542: Leavanny</option>
	<option value="Venipede">543: Venipede</option>
	<option value="Whirlipede">544: Whirlipede</option>
	<option value="Scolipede">545: Scolipede</option>
	<option value="Cottonee">546: Cottonee</option>
	<option value="Whimsicott">547: Whimsicott</option>
	<option value="Petilil">548: Petilil</option>
	<option value="Lilligant">549: Lilligant</option>
	<option value="Basculin">550: Basculin</option>
	<option value="Sandile">551: Sandile</option>
	<option value="Krokorok">552: Krokorok</option>
	<option value="Krookodile">553: Krookodile</option>
	<option value="Darumaka">554: Darumaka</option>
	<option value="Darmanitan">555: Darmanitan</option>
	<option value="Maractus">556: Maractus</option>
	<option value="Dwebble">557: Dwebble</option>
	<option value="Crustle">558: Crustle</option>
	<option value="Scraggy">559: Scraggy</option>
	<option value="Scrafty">560: Scrafty</option>
	<option value="Sigilyph">561: Sigilyph</option>
	<option value="Yamask">562: Yamask</option>
	<option value="Cofagrigus">563: Cofagrigus</option>
	<option value="Tirtouga">564: Tirtouga</option>
	<option value="Carracosta">565: Carracosta</option>
	<option value="Archen">566: Archen</option>
	<option value="Archeops">567: Archeops</option>
	<option value="Trubbish">568: Trubbish</option>
	<option value="Garbodor">569: Garbodor</option>
	<option value="Zorua">570: Zorua</option>
	<option value="Zoroark">571: Zoroark</option>
	<option value="Minccino">572: Minccino</option>
	<option value="Cinccino">573: Cinccino</option>
	<option value="Gothita">574: Gothita</option>
	<option value="Gothorita">575: Gothorita</option>
	<option value="Gothitelle">576: Gothitelle</option>
	<option value="Solosis">577: Solosis</option>
	<option value="Duosion">578: Duosion</option>
	<option value="Reuniclus">579: Reuniclus</option>
	<option value="Ducklett">580: Ducklett</option>
	<option value="Swanna">581: Swanna</option>
	<option value="Vanillite">582: Vanillite</option>
	<option value="Vanillish">583: Vanillish</option>
	<option value="Vanilluxe">584: Vanilluxe</option>
	<option value="Deerling">585: Deerling</option>
	<option value="Sawsbuck">586: Sawsbuck</option>
	<option value="Emolga">587: Emolga</option>
	<option value="Karrablast">588: Karrablast</option>
	<option value="Escavalier">589: Escavalier</option>
	<option value="Foongus">590: Foongus</option>
	<option value="Amoonguss">591: Amoonguss</option>
	<option value="Frillish">592: Frillish</option>
	<option value="Jellicent">593: Jellicent</option>
	<option value="Alomomola">594: Alomomola</option>
	<option value="Joltik">595: Joltik</option>
	<option value="Galvantula">596: Galvantula</option>
	<option value="Ferroseed">597: Ferroseed</option>
	<option value="Ferrothorn">598: Ferrothorn</option>
	<option value="Klink">599: Klink</option>
	<option value="Klang">600: Klang</option>
	<option value="Klinklang">601: Klinklang</option>
	<option value="Tynamo">602: Tynamo</option>
	<option value="Eelektrik">603: Eelektrik</option>
	<option value="Eelektross">604: Eelektross</option>
	<option value="Elgyem">605: Elgyem</option>
	<option value="Beheeyem">606: Beheeyem</option>
	<option value="Litwick">607: Litwick</option>
	<option value="Lampent">608: Lampent</option>
	<option value="Chandelure">609: Chandelure</option>
	<option value="Axew">610: Axew</option>
	<option value="Fraxure">611: Fraxure</option>
	<option value="Haxorus">612: Haxorus</option>
	<option value="Cubchoo">613: Cubchoo</option>
	<option value="Beartic">614: Beartic</option>
	<option value="Cryogonal">615: Cryogonal</option>
	<option value="Shelmet">616: Shelmet</option>
	<option value="Accelgor">617: Accelgor</option>
	<option value="Stunfisk">618: Stunfisk</option>
	<option value="Mienfoo">619: Mienfoo</option>
	<option value="Mienshao">620: Mienshao</option>
	<option value="Druddigon">621: Druddigon</option>
	<option value="Golett">622: Golett</option>
	<option value="Golurk">623: Golurk</option>
	<option value="Pawniard">624: Pawniard</option>
	<option value="Bisharp">625: Bisharp</option>
	<option value="Bouffalant">626: Bouffalant</option>
	<option value="Rufflet">627: Rufflet</option>
	<option value="Braviary">628: Braviary</option>
	<option value="Vullaby">629: Vullaby</option>
	<option value="Mandibuzz">630: Mandibuzz</option>
	<option value="Heatmor">631: Heatmor</option>
	<option value="Durant">632: Durant</option>
	<option value="Deino">633: Deino</option>
	<option value="Zweilous">634: Zweilous</option>
	<option value="Hydreigon">635: Hydreigon</option>
	<option value="Larvesta">636: Larvesta</option>
	<option value="Volcarona">637: Volcarona</option>
	<option value="Cobalion">638: Cobalion</option>
	<option value="Terrakion">639: Terrakion</option>
	<option value="Virizion">640: Virizion</option>
	<option value="Tornadus">641: Tornadus</option>
	<option value="Thundurus">642: Thundurus</option>
	<option value="Reshiram">643: Reshiram</option>
	<option value="Zekrom">644: Zekrom</option>
	<option value="Landorus">645: Landorus</option>
	<option value="Kyurem">646: Kyurem</option>
	<option value="Keldeo">647: Keldeo</option>
	<option value="Meloetta">648: Meloetta</option>
	<option value="Genesect">649: Genesect</option>
	<option value="Chespin">650: Chespin</option>
	<option value="Quilladin">651: Quilladin</option>
	<option value="Chesnaught">652: Chesnaught</option>
	<option value="Fennekin">653: Fennekin</option>
	<option value="Braixen">654: Braixen</option>
	<option value="Delphox">655: Delphox</option>
	<option value="Froakie">656: Froakie</option>
	<option value="Frogadier">657: Frogadier</option>
	<option value="Greninja">658: Greninja</option>
	<option value="Bunnelby">659: Bunnelby</option>
	<option value="Diggersby">660: Diggersby</option>
	<option value="Fletchling">661: Fletchling</option>
	<option value="Fletchinder">662: Fletchinder</option>
	<option value="Talonflame">663: Talonflame</option>
	<option value="Scatterbug">664: Scatterbug</option>
	<option value="Spewpa">665: Spewpa</option>
	<option value="Vivillon">666: Vivillon</option>
	<option value="Litleo">667: Litleo</option>
	<option value="Pyroar">668: Pyroar</option>
	<option value="Flabébé">669: Flabébé</option>
	<option value="Floette">670: Floette</option>
	<option value="Florges">671: Florges</option>
	<option value="Skiddo">672: Skiddo</option>
	<option value="Gogoat">673: Gogoat</option>
	<option value="Pancham">674: Pancham</option>
	<option value="Pangoro">675: Pangoro</option>
	<option value="Furfrou">676: Furfrou</option>
	<option value="Espurr">677: Espurr</option>
	<option value="Meowstic">678: Meowstic</option>
	<option value="Honedge">679: Honedge</option>
	<option value="Doublade">680: Doublade</option>
	<option value="Aegislash">681: Aegislash</option>
	<option value="Spritzee">682: Spritzee</option>
	<option value="Aromatisse">683: Aromatisse</option>
	<option value="Swirlix">684: Swirlix</option>
	<option value="Slurpuff">685: Slurpuff</option>
	<option value="Inkay">686: Inkay</option>
	<option value="Malamar">687: Malamar</option>
	<option value="Binacle">688: Binacle</option>
	<option value="Barbaracle">689: Barbaracle</option>
	<option value="Skrelp">690: Skrelp</option>
	<option value="Dragalge">691: Dragalge</option>
	<option value="Clauncher">692: Clauncher</option>
	<option value="Clawitzer">693: Clawitzer</option>
	<option value="Helioptile">694: Helioptile</option>
	<option value="Heliolisk">695: Heliolisk</option>
	<option value="Tyrunt">696: Tyrunt</option>
	<option value="Tyrantrum">697: Tyrantrum</option>
	<option value="Amaura">698: Amaura</option>
	<option value="Aurorus">699: Aurorus</option>
	<option value="Sylveon">700: Sylveon</option>
	<option value="Hawlucha">701: Hawlucha</option>
	<option value="Dedenne">702: Dedenne</option>
	<option value="Carbink">703: Carbink</option>
	<option value="Goomy">704: Goomy</option>
	<option value="Sliggoo">705: Sliggoo</option>
	<option value="Goodra">706: Goodra</option>
	<option value="Klefki">707: Klefki</option>
	<option value="Phantump">708: Phantump</option>
	<option value="Trevenant">709: Trevenant</option>
	<option value="Pumpkaboo">710: Pumpkaboo</option>
	<option value="Gourgeist">711: Gourgeist</option>
	<option value="Bergmite">712: Bergmite</option>
	<option value="Avalugg">713: Avalugg</option>
	<option value="Noibat">714: Noibat</option>
	<option value="Noivern">715: Noivern</option>
	<option value="Xerneas">716: Xerneas</option>
	<option value="Yveltal">717: Yveltal</option>
	<option value="Zygarde">718: Zygarde</option>
</select>
<script>
	$('.selectpicker').selectpicker();
</script>