<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
<select class="selectpicker" data-live-search="true">	
	<option value="001,Bulbasaur">001: Bulbasaur</option>
	<option value="002,Ivysaur">002: Ivysaur</option>
	<option value="003,Venusaur">003: Venusaur</option>
	<option value="004,Charmander">004: Charmander</option>
	<option value="005,Charmeleon">005: Charmeleon</option>
	<option value="006,Charizard">006: Charizard</option>
	<option value="007,Squirtle">007: Squirtle</option>
	<option value="008,Wartortle">008: Wartortle</option>
	<option value="009,Blastoise">009: Blastoise</option>
	<option value="010,Caterpie">010: Caterpie</option>
	<option value="011,Metapod">011: Metapod</option>
	<option value="012,Butterfree">012: Butterfree</option>
	<option value="013,Weedle">013: Weedle</option>
	<option value="014,Kakuna">014: Kakuna</option>
	<option value="015,Beedrill">015: Beedrill</option>
	<option value="016,Pidgey">016: Pidgey</option>
	<option value="017,Pidgeotto">017: Pidgeotto</option>
	<option value="018,Pidgeot">018: Pidgeot</option>
	<option value="019,RattataM">019: RattataM</option>
	<option value="020,Raticate">020: Raticate</option>
	<option value="021,Spearow">021: Spearow</option>
	<option value="022,Fearow">022: Fearow</option>
	<option value="023,Ekans">023: Ekans</option>
	<option value="024,Arbok">024: Arbok</option>
	<option value="025,Pikachu">025: Pikachu</option>
	<option value="026,Raichu">026: Raichu</option>
	<option value="027,Sandshrew">027: Sandshrew</option>
	<option value="028,Sandslash">028: Sandslash</option>
	<option value="029,NidoranF">029: NidoranF</option>
	<option value="030,Nidorina">030: Nidorina</option>
	<option value="031,Nidoqueen">031: Nidoqueen</option>
	<option value="032,NidoranM">032: NidoranM</option>
	<option value="033,Nidorino">033: Nidorino</option>
	<option value="034,Nidoking">034: Nidoking</option>
	<option value="035,Clefairy">035: Clefairy</option>
	<option value="036,Clefable">036: Clefable</option>
	<option value="037,Vulpix">037: Vulpix</option>
	<option value="038,Ninetales">038: Ninetales</option>
	<option value="039,Jigglypuff">039: Jigglypuff</option>
	<option value="040,Wigglytuff">040: Wigglytuff</option>
	<option value="041,Zubat">041: Zubat</option>
	<option value="042,Golbat">042: Golbat</option>
	<option value="043,Oddish">043: Oddish</option>
	<option value="044,Gloom">044: Gloom</option>
	<option value="045,Vileplume">045: Vileplume</option>
	<option value="046,Paras">046: Paras</option>
	<option value="047,Parasect">047: Parasect</option>
	<option value="048,Venonat">048: Venonat</option>
	<option value="049,Venomoth">049: Venomoth</option>
	<option value="050,Diglett">050: Diglett</option>
	<option value="051,Dugtrio">051: Dugtrio</option>
	<option value="052,Meowth">052: Meowth</option>
	<option value="053,Persian">053: Persian</option>
	<option value="054,Psyduck">054: Psyduck</option>
	<option value="055,Golduck">055: Golduck</option>
	<option value="056,Mankey">056: Mankey</option>
	<option value="057,Primeape">057: Primeape</option>
	<option value="058,Growlithe">058: Growlithe</option>
	<option value="059,Arcanine">059: Arcanine</option>
	<option value="060,Poliwag">060: Poliwag</option>
	<option value="061,Poliwhirl">061: Poliwhirl</option>
	<option value="062,Poliwrath">062: Poliwrath</option>
	<option value="063,Abra">063: Abra</option>
	<option value="064,Kadabra">064: Kadabra</option>
	<option value="065,Alakazam">065: Alakazam</option>
	<option value="066,Machop">066: Machop</option>
	<option value="067,Machoke">067: Machoke</option>
	<option value="068,Machamp">068: Machamp</option>
	<option value="069,Bellsprout">069: Bellsprout</option>
	<option value="070,Weepinbell">070: Weepinbell</option>
	<option value="071,Victreebel">071: Victreebel</option>
	<option value="072,Tentacool">072: Tentacool</option>
	<option value="073,Tentacruel">073: Tentacruel</option>
	<option value="074,Geodude">074: Geodude</option>
	<option value="075,Graveler">075: Graveler</option>
	<option value="076,Golem">076: Golem</option>
	<option value="077,Ponyta">077: Ponyta</option>
	<option value="078,Rapidash">078: Rapidash</option>
	<option value="079,Slowpoke">079: Slowpoke</option>
	<option value="080,Slowbro">080: Slowbro</option>
	<option value="081,Magnemite">081: Magnemite</option>
	<option value="082,Magneton">082: Magneton</option>
	<option value="083,Farfetch'd">083: Farfetch'd</option>
	<option value="084,Doduo">084: Doduo</option>
	<option value="085,Dodrio">085: Dodrio</option>
	<option value="086,Seel">086: Seel</option>
	<option value="087,Dewgong">087: Dewgong</option>
	<option value="088,Grimer">088: Grimer</option>
	<option value="089,Muk">089: Muk</option>
	<option value="090,Shellder">090: Shellder</option>
	<option value="091,Cloyster">091: Cloyster</option>
	<option value="092,Gastly">092: Gastly</option>
	<option value="093,Haunter">093: Haunter</option>
	<option value="094,Gengar">094: Gengar</option>
	<option value="095,Onix">095: Onix</option>
	<option value="096,Drowzee">096: Drowzee</option>
	<option value="097,Hypno">097: Hypno</option>
	<option value="098,Krabby">098: Krabby</option>
	<option value="099,Kingler">099: Kingler</option>
	<option value="100,Voltorb">100: Voltorb</option>
	<option value="101,Electrode">101: Electrode</option>
	<option value="102,Exeggcute">102: Exeggcute</option>
	<option value="103,Exeggutor">103: Exeggutor</option>
	<option value="104,Cubone">104: Cubone</option>
	<option value="105,Marowak">105: Marowak</option>
	<option value="106,Hitmonlee">106: Hitmonlee</option>
	<option value="107,Hitmonchan">107: Hitmonchan</option>
	<option value="108,Lickitung">108: Lickitung</option>
	<option value="109,Koffing">109: Koffing</option>
	<option value="110,Weezing">110: Weezing</option>
	<option value="111,Rhyhorn">111: Rhyhorn</option>
	<option value="112,Rhydon">112: Rhydon</option>
	<option value="113,Chansey">113: Chansey</option>
	<option value="114,Tangela">114: Tangela</option>
	<option value="115,Kangaskhan">115: Kangaskhan</option>
	<option value="116,Horsea">116: Horsea</option>
	<option value="117,Seadra">117: Seadra</option>
	<option value="118,Goldeen">118: Goldeen</option>
	<option value="119,Seaking">119: Seaking</option>
	<option value="120,Staryu">120: Staryu</option>
	<option value="121,Starmie">121: Starmie</option>
	<option value="122,Mr. Mime">122: Mr. Mime</option>
	<option value="123,Scyther">123: Scyther</option>
	<option value="124,Jynx">124: Jynx</option>
	<option value="125,Electabuzz">125: Electabuzz</option>
	<option value="126,Magmar">126: Magmar</option>
	<option value="127,Pinsir">127: Pinsir</option>
	<option value="128,Tauros">128: Tauros</option>
	<option value="129,Magikarp">129: Magikarp</option>
	<option value="130,Gyarados">130: Gyarados</option>
	<option value="131,Lapras">131: Lapras</option>
	<option value="132,Ditto">132: Ditto</option>
	<option value="133,Eevee">133: Eevee</option>
	<option value="134,Vaporeon">134: Vaporeon</option>
	<option value="135,Jolteon">135: Jolteon</option>
	<option value="136,Flareon">136: Flareon</option>
	<option value="137,Porygon">137: Porygon</option>
	<option value="138,Omanyte">138: Omanyte</option>
	<option value="139,Omastar">139: Omastar</option>
	<option value="140,Kabuto">140: Kabuto</option>
	<option value="141,Kabutops">141: Kabutops</option>
	<option value="142,Aerodactyl">142: Aerodactyl</option>
	<option value="143,Snorlax">143: Snorlax</option>
	<option value="144,Articuno">144: Articuno</option>
	<option value="145,Zapdos">145: Zapdos</option>
	<option value="146,Moltres">146: Moltres</option>
	<option value="147,Dratini">147: Dratini</option>
	<option value="148,Dragonair">148: Dragonair</option>
	<option value="149,Dragonite">149: Dragonite</option>
	<option value="150,Mewtwo">150: Mewtwo</option>
	<option value="151,Mew">151: Mew</option>
	<option value="152,Chikorita">152: Chikorita</option>
	<option value="153,Bayleef">153: Bayleef</option>
	<option value="154,Meganium">154: Meganium</option>
	<option value="155,Cyndaquil">155: Cyndaquil</option>
	<option value="156,Quilava">156: Quilava</option>
	<option value="157,Typhlosion">157: Typhlosion</option>
	<option value="158,Totodile">158: Totodile</option>
	<option value="159,Croconaw">159: Croconaw</option>
	<option value="160,Feraligatr">160: Feraligatr</option>
	<option value="161,Sentret">161: Sentret</option>
	<option value="162,Furret">162: Furret</option>
	<option value="163,Hoothoot">163: Hoothoot</option>
	<option value="164,Noctowl">164: Noctowl</option>
	<option value="165,Ledyba">165: Ledyba</option>
	<option value="166,Ledian">166: Ledian</option>
	<option value="167,Spinarak">167: Spinarak</option>
	<option value="168,Ariados">168: Ariados</option>
	<option value="169,Crobat">169: Crobat</option>
	<option value="170,Chinchou">170: Chinchou</option>
	<option value="171,Lanturn">171: Lanturn</option>
	<option value="172,Pichu">172: Pichu</option>
	<option value="173,Cleffa">173: Cleffa</option>
	<option value="174,Igglybuff">174: Igglybuff</option>
	<option value="175,Togepi">175: Togepi</option>
	<option value="176,Togetic">176: Togetic</option>
	<option value="177,Natu">177: Natu</option>
	<option value="178,Xatu">178: Xatu</option>
	<option value="179,Mareep">179: Mareep</option>
	<option value="180,Flaaffy">180: Flaaffy</option>
	<option value="181,Ampharos">181: Ampharos</option>
	<option value="182,Bellossom">182: Bellossom</option>
	<option value="183,Marill">183: Marill</option>
	<option value="184,Azumarill">184: Azumarill</option>
	<option value="185,Sudowoodo">185: Sudowoodo</option>
	<option value="186,Politoed">186: Politoed</option>
	<option value="187,Hoppip">187: Hoppip</option>
	<option value="188,Skiploom">188: Skiploom</option>
	<option value="189,Jumpluff">189: Jumpluff</option>
	<option value="190,Aipom">190: Aipom</option>
	<option value="191,Sunkern">191: Sunkern</option>
	<option value="192,Sunflora">192: Sunflora</option>
	<option value="193,Yanma">193: Yanma</option>
	<option value="194,Wooper">194: Wooper</option>
	<option value="195,Quagsire">195: Quagsire</option>
	<option value="196,Espeon">196: Espeon</option>
	<option value="197,Umbreon">197: Umbreon</option>
	<option value="198,Murkrow">198: Murkrow</option>
	<option value="199,Slowking">199: Slowking</option>
	<option value="200,Misdreavus">200: Misdreavus</option>
	<option value="201,Unown">201: Unown</option>
	<option value="202,Wobbuffet">202: Wobbuffet</option>
	<option value="203,Girafarig">203: Girafarig</option>
	<option value="204,Pineco">204: Pineco</option>
	<option value="205,Forretress">205: Forretress</option>
	<option value="206,Dunsparce">206: Dunsparce</option>
	<option value="207,Gligar">207: Gligar</option>
	<option value="208,Steelix">208: Steelix</option>
	<option value="209,Snubbull">209: Snubbull</option>
	<option value="210,Granbull">210: Granbull</option>
	<option value="211,Qwilfish">211: Qwilfish</option>
	<option value="212,Scizor">212: Scizor</option>
	<option value="213,Shuckle">213: Shuckle</option>
	<option value="214,Heracross">214: Heracross</option>
	<option value="215,Sneasel">215: Sneasel</option>
	<option value="216,Teddiursa">216: Teddiursa</option>
	<option value="217,Ursaring">217: Ursaring</option>
	<option value="218,Slugma">218: Slugma</option>
	<option value="219,Magcargo">219: Magcargo</option>
	<option value="220,Swinub">220: Swinub</option>
	<option value="221,Piloswine">221: Piloswine</option>
	<option value="222,Corsola">222: Corsola</option>
	<option value="223,Remoraid">223: Remoraid</option>
	<option value="224,Octillery">224: Octillery</option>
	<option value="225,Delibird">225: Delibird</option>
	<option value="226,Mantine">226: Mantine</option>
	<option value="227,Skarmory">227: Skarmory</option>
	<option value="228,Houndour">228: Houndour</option>
	<option value="229,Houndoom">229: Houndoom</option>
	<option value="230,Kingdra">230: Kingdra</option>
	<option value="231,Phanpy">231: Phanpy</option>
	<option value="232,Donphan">232: Donphan</option>
	<option value="233,Porygon2">233: Porygon2</option>
	<option value="234,Stantler">234: Stantler</option>
	<option value="235,Smeargle">235: Smeargle</option>
	<option value="236,Tyrogue">236: Tyrogue</option>
	<option value="237,Hitmontop">237: Hitmontop</option>
	<option value="238,Smoochum">238: Smoochum</option>
	<option value="239,Elekid">239: Elekid</option>
	<option value="240,Magby">240: Magby</option>
	<option value="241,Miltank">241: Miltank</option>
	<option value="242,Blissey">242: Blissey</option>
	<option value="243,Raikou">243: Raikou</option>
	<option value="244,Entei">244: Entei</option>
	<option value="245,Suicune">245: Suicune</option>
	<option value="246,Larvitar">246: Larvitar</option>
	<option value="247,Pupitar">247: Pupitar</option>
	<option value="248,Tyranitar">248: Tyranitar</option>
	<option value="249,Lugia">249: Lugia</option>
	<option value="250,Ho-Oh">250: Ho-Oh</option>
	<option value="251,Celebi">251: Celebi</option>
	<option value="252,Treecko">252: Treecko</option>
	<option value="253,Grovyle">253: Grovyle</option>
	<option value="254,Sceptile">254: Sceptile</option>
	<option value="255,Torchic">255: Torchic</option>
	<option value="256,Combusken">256: Combusken</option>
	<option value="257,Blaziken">257: Blaziken</option>
	<option value="258,Mudkip">258: Mudkip</option>
	<option value="259,Marshtomp">259: Marshtomp</option>
	<option value="260,Swampert">260: Swampert</option>
	<option value="261,Poochyena">261: Poochyena</option>
	<option value="262,Mightyena">262: Mightyena</option>
	<option value="263,Zigzagoon">263: Zigzagoon</option>
	<option value="264,Linoone">264: Linoone</option>
	<option value="265,Wurmple">265: Wurmple</option>
	<option value="266,Silcoon">266: Silcoon</option>
	<option value="267,Beautifly">267: Beautifly</option>
	<option value="268,Cascoon">268: Cascoon</option>
	<option value="269,Dustox">269: Dustox</option>
	<option value="270,Lotad">270: Lotad</option>
	<option value="271,Lombre">271: Lombre</option>
	<option value="272,Ludicolo">272: Ludicolo</option>
	<option value="273,Seedot">273: Seedot</option>
	<option value="274,Nuzleaf">274: Nuzleaf</option>
	<option value="275,Shiftry">275: Shiftry</option>
	<option value="276,Taillow">276: Taillow</option>
	<option value="277,Swellow">277: Swellow</option>
	<option value="278,Wingull">278: Wingull</option>
	<option value="279,Pelipper">279: Pelipper</option>
	<option value="280,Ralts">280: Ralts</option>
	<option value="281,Kirlia">281: Kirlia</option>
	<option value="282,Gardevoir">282: Gardevoir</option>
	<option value="283,Surskit">283: Surskit</option>
	<option value="284,Masquerain">284: Masquerain</option>
	<option value="285,Shroomish">285: Shroomish</option>
	<option value="286,Breloom">286: Breloom</option>
	<option value="287,Slakoth">287: Slakoth</option>
	<option value="288,Vigoroth">288: Vigoroth</option>
	<option value="289,Slaking">289: Slaking</option>
	<option value="290,Nincada">290: Nincada</option>
	<option value="291,Ninjask">291: Ninjask</option>
	<option value="292,Shedinja">292: Shedinja</option>
	<option value="293,Whismur">293: Whismur</option>
	<option value="294,Loudred">294: Loudred</option>
	<option value="295,Exploud">295: Exploud</option>
	<option value="296,Makuhita">296: Makuhita</option>
	<option value="297,Hariyama">297: Hariyama</option>
	<option value="298,Azurill">298: Azurill</option>
	<option value="299,Nosepass">299: Nosepass</option>
	<option value="300,Skitty">300: Skitty</option>
	<option value="301,Delcatty">301: Delcatty</option>
	<option value="302,Sableye">302: Sableye</option>
	<option value="303,Mawile">303: Mawile</option>
	<option value="304,Aron">304: Aron</option>
	<option value="305,Lairon">305: Lairon</option>
	<option value="306,Aggron">306: Aggron</option>
	<option value="307,Meditite">307: Meditite</option>
	<option value="308,Medicham">308: Medicham</option>
	<option value="309,Electrike">309: Electrike</option>
	<option value="310,Manectric">310: Manectric</option>
	<option value="311,Plusle">311: Plusle</option>
	<option value="312,Minun">312: Minun</option>
	<option value="313,Volbeat">313: Volbeat</option>
	<option value="314,Illumise">314: Illumise</option>
	<option value="315,Roselia">315: Roselia</option>
	<option value="316,Gulpin">316: Gulpin</option>
	<option value="317,Swalot">317: Swalot</option>
	<option value="318,Carvanha">318: Carvanha</option>
	<option value="319,Sharpedo">319: Sharpedo</option>
	<option value="320,Wailmer">320: Wailmer</option>
	<option value="321,Wailord">321: Wailord</option>
	<option value="322,Numel">322: Numel</option>
	<option value="323,Camerupt">323: Camerupt</option>
	<option value="324,Torkoal">324: Torkoal</option>
	<option value="325,Spoink">325: Spoink</option>
	<option value="326,Grumpig">326: Grumpig</option>
	<option value="327,Spinda">327: Spinda</option>
	<option value="328,Trapinch">328: Trapinch</option>
	<option value="329,Vibrava">329: Vibrava</option>
	<option value="330,Flygon">330: Flygon</option>
	<option value="331,Cacnea">331: Cacnea</option>
	<option value="332,Cacturne">332: Cacturne</option>
	<option value="333,Swablu">333: Swablu</option>
	<option value="334,Altaria">334: Altaria</option>
	<option value="335,Zangoose">335: Zangoose</option>
	<option value="336,Seviper">336: Seviper</option>
	<option value="337,Lunatone">337: Lunatone</option>
	<option value="338,Solrock">338: Solrock</option>
	<option value="339,Barboach">339: Barboach</option>
	<option value="340,Whiscash">340: Whiscash</option>
	<option value="341,Corphish">341: Corphish</option>
	<option value="342,Crawdaunt">342: Crawdaunt</option>
	<option value="343,Baltoy">343: Baltoy</option>
	<option value="344,Claydol">344: Claydol</option>
	<option value="345,Lileep">345: Lileep</option>
	<option value="346,Cradily">346: Cradily</option>
	<option value="347,Anorith">347: Anorith</option>
	<option value="348,Armaldo">348: Armaldo</option>
	<option value="349,Feebas">349: Feebas</option>
	<option value="350,Milotic">350: Milotic</option>
	<option value="351,Castform">351: Castform</option>
	<option value="352,Kecleon">352: Kecleon</option>
	<option value="353,Shuppet">353: Shuppet</option>
	<option value="354,Banette">354: Banette</option>
	<option value="355,Duskull">355: Duskull</option>
	<option value="356,Dusclops">356: Dusclops</option>
	<option value="357,Tropius">357: Tropius</option>
	<option value="358,Chimecho">358: Chimecho</option>
	<option value="359,Absol">359: Absol</option>
	<option value="360,Wynaut">360: Wynaut</option>
	<option value="361,Snorunt">361: Snorunt</option>
	<option value="362,Glalie">362: Glalie</option>
	<option value="363,Spheal">363: Spheal</option>
	<option value="364,Sealeo">364: Sealeo</option>
	<option value="365,Walrein">365: Walrein</option>
	<option value="366,Clamperl">366: Clamperl</option>
	<option value="367,Huntail">367: Huntail</option>
	<option value="368,Gorebyss">368: Gorebyss</option>
	<option value="369,Relicanth">369: Relicanth</option>
	<option value="370,Luvdisc">370: Luvdisc</option>
	<option value="371,Bagon">371: Bagon</option>
	<option value="372,Shelgon">372: Shelgon</option>
	<option value="373,Salamence">373: Salamence</option>
	<option value="374,Beldum">374: Beldum</option>
	<option value="375,Metang">375: Metang</option>
	<option value="376,Metagross">376: Metagross</option>
	<option value="377,Regirock">377: Regirock</option>
	<option value="378,Regice">378: Regice</option>
	<option value="379,Registeel">379: Registeel</option>
	<option value="380,Latias">380: Latias</option>
	<option value="381,Latios">381: Latios</option>
	<option value="382,Kyogre">382: Kyogre</option>
	<option value="383,Groudon">383: Groudon</option>
	<option value="384,Rayquaza">384: Rayquaza</option>
	<option value="385,Jirachi">385: Jirachi</option>
	<option value="386,Deoxys">386: Deoxys</option>
	<option value="387,Turtwig">387: Turtwig</option>
	<option value="388,Grotle">388: Grotle</option>
	<option value="389,Torterra">389: Torterra</option>
	<option value="390,Chimchar">390: Chimchar</option>
	<option value="391,Monferno">391: Monferno</option>
	<option value="392,Infernape">392: Infernape</option>
	<option value="393,Piplup">393: Piplup</option>
	<option value="394,Prinplup">394: Prinplup</option>
	<option value="395,Empoleon">395: Empoleon</option>
	<option value="396,Starly">396: Starly</option>
	<option value="397,Staravia">397: Staravia</option>
	<option value="398,Staraptor">398: Staraptor</option>
	<option value="399,Bidoof">399: Bidoof</option>
	<option value="400,Bibarel">400: Bibarel</option>
	<option value="401,Kricketot">401: Kricketot</option>
	<option value="402,Kricketune">402: Kricketune</option>
	<option value="403,Shinx">403: Shinx</option>
	<option value="404,Luxio">404: Luxio</option>
	<option value="405,Luxray">405: Luxray</option>
	<option value="406,Budew">406: Budew</option>
	<option value="407,Roserade">407: Roserade</option>
	<option value="408,Cranidos">408: Cranidos</option>
	<option value="409,Rampardos">409: Rampardos</option>
	<option value="410,Shieldon">410: Shieldon</option>
	<option value="411,Bastiodon">411: Bastiodon</option>
	<option value="412,Burmy">412: Burmy</option>
	<option value="413,Wormadam">413: Wormadam</option>
	<option value="414,Mothim">414: Mothim</option>
	<option value="415,Combee">415: Combee</option>
	<option value="416,Vespiquen">416: Vespiquen</option>
	<option value="417,Pachirisu">417: Pachirisu</option>
	<option value="418,Buizel">418: Buizel</option>
	<option value="419,Floatzel">419: Floatzel</option>
	<option value="420,Cherubi">420: Cherubi</option>
	<option value="421,Cherrim">421: Cherrim</option>
	<option value="422,Shellos">422: Shellos</option>
	<option value="423,Gastrodon">423: Gastrodon</option>
	<option value="424,Ambipom">424: Ambipom</option>
	<option value="425,Drifloon">425: Drifloon</option>
	<option value="426,Drifblim">426: Drifblim</option>
	<option value="427,Buneary">427: Buneary</option>
	<option value="428,Lopunny">428: Lopunny</option>
	<option value="429,Mismagius">429: Mismagius</option>
	<option value="430,Honchkrow">430: Honchkrow</option>
	<option value="431,Glameow">431: Glameow</option>
	<option value="432,Purugly">432: Purugly</option>
	<option value="433,Chingling">433: Chingling</option>
	<option value="434,Stunky">434: Stunky</option>
	<option value="435,Skuntank">435: Skuntank</option>
	<option value="436,Bronzor">436: Bronzor</option>
	<option value="437,Bronzong">437: Bronzong</option>
	<option value="438,Bonsly">438: Bonsly</option>
	<option value="439,Mime Jr.">439: Mime Jr.</option>
	<option value="440,Happiny">440: Happiny</option>
	<option value="441,Chatot">441: Chatot</option>
	<option value="442,Spiritomb">442: Spiritomb</option>
	<option value="443,Gible">443: Gible</option>
	<option value="444,Gabite">444: Gabite</option>
	<option value="445,Garchomp">445: Garchomp</option>
	<option value="446,Munchlax">446: Munchlax</option>
	<option value="447,Riolu">447: Riolu</option>
	<option value="448,Lucario">448: Lucario</option>
	<option value="449,Hippopotas">449: Hippopotas</option>
	<option value="450,Hippowdon">450: Hippowdon</option>
	<option value="451,Skorupi">451: Skorupi</option>
	<option value="452,Drapion">452: Drapion</option>
	<option value="453,Croagunk">453: Croagunk</option>
	<option value="454,Toxicroak">454: Toxicroak</option>
	<option value="455,Carnivine">455: Carnivine</option>
	<option value="456,Finneon">456: Finneon</option>
	<option value="457,Lumineon">457: Lumineon</option>
	<option value="458,Mantyke">458: Mantyke</option>
	<option value="459,Snover">459: Snover</option>
	<option value="460,Abomasnow">460: Abomasnow</option>
	<option value="461,Weavile">461: Weavile</option>
	<option value="462,Magnezone">462: Magnezone</option>
	<option value="463,Lickilicky">463: Lickilicky</option>
	<option value="464,Rhyperior">464: Rhyperior</option>
	<option value="465,Tangrowth">465: Tangrowth</option>
	<option value="466,Electivire">466: Electivire</option>
	<option value="467,Magmortar">467: Magmortar</option>
	<option value="468,Togekiss">468: Togekiss</option>
	<option value="469,Yanmega">469: Yanmega</option>
	<option value="470,Leafeon">470: Leafeon</option>
	<option value="471,Glaceon">471: Glaceon</option>
	<option value="472,Gliscor">472: Gliscor</option>
	<option value="473,Mamoswine">473: Mamoswine</option>
	<option value="474,Porygon-Z">474: Porygon-Z</option>
	<option value="475,Gallade">475: Gallade</option>
	<option value="476,Probopass">476: Probopass</option>
	<option value="477,Dusknoir">477: Dusknoir</option>
	<option value="478,Froslass">478: Froslass</option>
	<option value="479,Rotom">479: Rotom</option>
	<option value="480,Uxie">480: Uxie</option>
	<option value="481,Mesprit">481: Mesprit</option>
	<option value="482,Azelf">482: Azelf</option>
	<option value="483,Dialga">483: Dialga</option>
	<option value="484,Palkia">484: Palkia</option>
	<option value="485,Heatran">485: Heatran</option>
	<option value="486,Regigigas">486: Regigigas</option>
	<option value="487,Giratina">487: Giratina</option>
	<option value="488,Cresselia">488: Cresselia</option>
	<option value="489,Phione">489: Phione</option>
	<option value="490,Manaphy">490: Manaphy</option>
	<option value="491,Darkrai">491: Darkrai</option>
	<option value="492,Shaymin">492: Shaymin</option>
	<option value="493,Arceus">493: Arceus</option>
	<option value="494,Victini">494: Victini</option>
	<option value="495,Snivy">495: Snivy</option>
	<option value="496,Servine">496: Servine</option>
	<option value="497,Serperior">497: Serperior</option>
	<option value="498,Tepig">498: Tepig</option>
	<option value="499,Pignite">499: Pignite</option>
	<option value="500,Emboar">500: Emboar</option>
	<option value="501,Oshawott">501: Oshawott</option>
	<option value="502,Dewott">502: Dewott</option>
	<option value="503,Samurott">503: Samurott</option>
	<option value="504,Patrat">504: Patrat</option>
	<option value="505,Watchog">505: Watchog</option>
	<option value="506,Lillipup">506: Lillipup</option>
	<option value="507,Herdier">507: Herdier</option>
	<option value="508,Stoutland">508: Stoutland</option>
	<option value="509,Purrloin">509: Purrloin</option>
	<option value="510,Liepard">510: Liepard</option>
	<option value="511,Pansage">511: Pansage</option>
	<option value="512,Simisage">512: Simisage</option>
	<option value="513,Pansear">513: Pansear</option>
	<option value="514,Simisear">514: Simisear</option>
	<option value="515,Panpour">515: Panpour</option>
	<option value="516,Simipour">516: Simipour</option>
	<option value="517,Munna">517: Munna</option>
	<option value="518,Musharna">518: Musharna</option>
	<option value="519,Pidove">519: Pidove</option>
	<option value="520,Tranquill">520: Tranquill</option>
	<option value="521,Unfezant">521: Unfezant</option>
	<option value="522,Blitzle">522: Blitzle</option>
	<option value="523,Zebstrika">523: Zebstrika</option>
	<option value="524,Roggenrola">524: Roggenrola</option>
	<option value="525,Boldore">525: Boldore</option>
	<option value="526,Gigalith">526: Gigalith</option>
	<option value="527,Woobat">527: Woobat</option>
	<option value="528,Swoobat">528: Swoobat</option>
	<option value="529,Drilbur">529: Drilbur</option>
	<option value="530,Excadrill">530: Excadrill</option>
	<option value="531,Audino">531: Audino</option>
	<option value="532,Timburr">532: Timburr</option>
	<option value="533,Gurdurr">533: Gurdurr</option>
	<option value="534,Conkeldurr">534: Conkeldurr</option>
	<option value="535,Tympole">535: Tympole</option>
	<option value="536,Palpitoad">536: Palpitoad</option>
	<option value="537,Seismitoad">537: Seismitoad</option>
	<option value="538,Throh">538: Throh</option>
	<option value="539,Sawk">539: Sawk</option>
	<option value="540,Sewaddle">540: Sewaddle</option>
	<option value="541,Swadloon">541: Swadloon</option>
	<option value="542,Leavanny">542: Leavanny</option>
	<option value="543,Venipede">543: Venipede</option>
	<option value="544,Whirlipede">544: Whirlipede</option>
	<option value="545,Scolipede">545: Scolipede</option>
	<option value="546,Cottonee">546: Cottonee</option>
	<option value="547,Whimsicott">547: Whimsicott</option>
	<option value="548,Petilil">548: Petilil</option>
	<option value="549,Lilligant">549: Lilligant</option>
	<option value="550,Basculin">550: Basculin</option>
	<option value="551,Sandile">551: Sandile</option>
	<option value="552,Krokorok">552: Krokorok</option>
	<option value="553,Krookodile">553: Krookodile</option>
	<option value="554,Darumaka">554: Darumaka</option>
	<option value="555,Darmanitan">555: Darmanitan</option>
	<option value="556,Maractus">556: Maractus</option>
	<option value="557,Dwebble">557: Dwebble</option>
	<option value="558,Crustle">558: Crustle</option>
	<option value="559,Scraggy">559: Scraggy</option>
	<option value="560,Scrafty">560: Scrafty</option>
	<option value="561,Sigilyph">561: Sigilyph</option>
	<option value="562,Yamask">562: Yamask</option>
	<option value="563,Cofagrigus">563: Cofagrigus</option>
	<option value="564,Tirtouga">564: Tirtouga</option>
	<option value="565,Carracosta">565: Carracosta</option>
	<option value="566,Archen">566: Archen</option>
	<option value="567,Archeops">567: Archeops</option>
	<option value="568,Trubbish">568: Trubbish</option>
	<option value="569,Garbodor">569: Garbodor</option>
	<option value="570,Zorua">570: Zorua</option>
	<option value="571,Zoroark">571: Zoroark</option>
	<option value="572,Minccino">572: Minccino</option>
	<option value="573,Cinccino">573: Cinccino</option>
	<option value="574,Gothita">574: Gothita</option>
	<option value="575,Gothorita">575: Gothorita</option>
	<option value="576,Gothitelle">576: Gothitelle</option>
	<option value="577,Solosis">577: Solosis</option>
	<option value="578,Duosion">578: Duosion</option>
	<option value="579,Reuniclus">579: Reuniclus</option>
	<option value="580,Ducklett">580: Ducklett</option>
	<option value="581,Swanna">581: Swanna</option>
	<option value="582,Vanillite">582: Vanillite</option>
	<option value="583,Vanillish">583: Vanillish</option>
	<option value="584,Vanilluxe">584: Vanilluxe</option>
	<option value="585,Deerling">585: Deerling</option>
	<option value="586,Sawsbuck">586: Sawsbuck</option>
	<option value="587,Emolga">587: Emolga</option>
	<option value="588,Karrablast">588: Karrablast</option>
	<option value="589,Escavalier">589: Escavalier</option>
	<option value="590,Foongus">590: Foongus</option>
	<option value="591,Amoonguss">591: Amoonguss</option>
	<option value="592,Frillish">592: Frillish</option>
	<option value="593,Jellicent">593: Jellicent</option>
	<option value="594,Alomomola">594: Alomomola</option>
	<option value="595,Joltik">595: Joltik</option>
	<option value="596,Galvantula">596: Galvantula</option>
	<option value="597,Ferroseed">597: Ferroseed</option>
	<option value="598,Ferrothorn">598: Ferrothorn</option>
	<option value="599,Klink">599: Klink</option>
	<option value="600,Klang">600: Klang</option>
	<option value="601,Klinklang">601: Klinklang</option>
	<option value="602,Tynamo">602: Tynamo</option>
	<option value="603,Eelektrik">603: Eelektrik</option>
	<option value="604,Eelektross">604: Eelektross</option>
	<option value="605,Elgyem">605: Elgyem</option>
	<option value="606,Beheeyem">606: Beheeyem</option>
	<option value="607,Litwick">607: Litwick</option>
	<option value="608,Lampent">608: Lampent</option>
	<option value="609,Chandelure">609: Chandelure</option>
	<option value="610,Axew">610: Axew</option>
	<option value="611,Fraxure">611: Fraxure</option>
	<option value="612,Haxorus">612: Haxorus</option>
	<option value="613,Cubchoo">613: Cubchoo</option>
	<option value="614,Beartic">614: Beartic</option>
	<option value="615,Cryogonal">615: Cryogonal</option>
	<option value="616,Shelmet">616: Shelmet</option>
	<option value="617,Accelgor">617: Accelgor</option>
	<option value="618,Stunfisk">618: Stunfisk</option>
	<option value="619,Mienfoo">619: Mienfoo</option>
	<option value="620,Mienshao">620: Mienshao</option>
	<option value="621,Druddigon">621: Druddigon</option>
	<option value="622,Golett">622: Golett</option>
	<option value="623,Golurk">623: Golurk</option>
	<option value="624,Pawniard">624: Pawniard</option>
	<option value="625,Bisharp">625: Bisharp</option>
	<option value="626,Bouffalant">626: Bouffalant</option>
	<option value="627,Rufflet">627: Rufflet</option>
	<option value="628,Braviary">628: Braviary</option>
	<option value="629,Vullaby">629: Vullaby</option>
	<option value="630,Mandibuzz">630: Mandibuzz</option>
	<option value="631,Heatmor">631: Heatmor</option>
	<option value="632,Durant">632: Durant</option>
	<option value="633,Deino">633: Deino</option>
	<option value="634,Zweilous">634: Zweilous</option>
	<option value="635,Hydreigon">635: Hydreigon</option>
	<option value="636,Larvesta">636: Larvesta</option>
	<option value="637,Volcarona">637: Volcarona</option>
	<option value="638,Cobalion">638: Cobalion</option>
	<option value="639,Terrakion">639: Terrakion</option>
	<option value="640,Virizion">640: Virizion</option>
	<option value="641,Tornadus">641: Tornadus</option>
	<option value="642,Thundurus">642: Thundurus</option>
	<option value="643,Reshiram">643: Reshiram</option>
	<option value="644,Zekrom">644: Zekrom</option>
	<option value="645,Landorus">645: Landorus</option>
	<option value="646,Kyurem">646: Kyurem</option>
	<option value="647,Keldeo">647: Keldeo</option>
	<option value="648,Meloetta">648: Meloetta</option>
	<option value="649,Genesect">649: Genesect</option>
	<option value="650,Chespin">650: Chespin</option>
	<option value="651,Quilladin">651: Quilladin</option>
	<option value="652,Chesnaught">652: Chesnaught</option>
	<option value="653,Fennekin">653: Fennekin</option>
	<option value="654,Braixen">654: Braixen</option>
	<option value="655,Delphox">655: Delphox</option>
	<option value="656,Froakie">656: Froakie</option>
	<option value="657,Frogadier">657: Frogadier</option>
	<option value="658,Greninja">658: Greninja</option>
	<option value="659,Bunnelby">659: Bunnelby</option>
	<option value="660,Diggersby">660: Diggersby</option>
	<option value="661,Fletchling">661: Fletchling</option>
	<option value="662,Fletchinder">662: Fletchinder</option>
	<option value="663,Talonflame">663: Talonflame</option>
	<option value="664,Scatterbug">664: Scatterbug</option>
	<option value="665,Spewpa">665: Spewpa</option>
	<option value="666,Vivillon">666: Vivillon</option>
	<option value="667,Litleo">667: Litleo</option>
	<option value="668,Pyroar">668: Pyroar</option>
	<option value="669,Flabébé">669: Flabébé</option>
	<option value="670,Floette">670: Floette</option>
	<option value="671,Florges">671: Florges</option>
	<option value="672,Skiddo">672: Skiddo</option>
	<option value="673,Gogoat">673: Gogoat</option>
	<option value="674,Pancham">674: Pancham</option>
	<option value="675,Pangoro">675: Pangoro</option>
	<option value="676,Furfrou">676: Furfrou</option>
	<option value="677,Espurr">677: Espurr</option>
	<option value="678,Meowstic">678: Meowstic</option>
	<option value="679,Honedge">679: Honedge</option>
	<option value="680,Doublade">680: Doublade</option>
	<option value="681,Aegislash">681: Aegislash</option>
	<option value="682,Spritzee">682: Spritzee</option>
	<option value="683,Aromatisse">683: Aromatisse</option>
	<option value="684,Swirlix">684: Swirlix</option>
	<option value="685,Slurpuff">685: Slurpuff</option>
	<option value="686,Inkay">686: Inkay</option>
	<option value="687,Malamar">687: Malamar</option>
	<option value="688,Binacle">688: Binacle</option>
	<option value="689,Barbaracle">689: Barbaracle</option>
	<option value="690,Skrelp">690: Skrelp</option>
	<option value="691,Dragalge">691: Dragalge</option>
	<option value="692,Clauncher">692: Clauncher</option>
	<option value="693,Clawitzer">693: Clawitzer</option>
	<option value="694,Helioptile">694: Helioptile</option>
	<option value="695,Heliolisk">695: Heliolisk</option>
	<option value="696,Tyrunt">696: Tyrunt</option>
	<option value="697,Tyrantrum">697: Tyrantrum</option>
	<option value="698,Amaura">698: Amaura</option>
	<option value="699,Aurorus">699: Aurorus</option>
	<option value="700,Sylveon">700: Sylveon</option>
	<option value="701,Hawlucha">701: Hawlucha</option>
	<option value="702,Dedenne">702: Dedenne</option>
	<option value="703,Carbink">703: Carbink</option>
	<option value="704,Goomy">704: Goomy</option>
	<option value="705,Sliggoo">705: Sliggoo</option>
	<option value="706,Goodra">706: Goodra</option>
	<option value="707,Klefki">707: Klefki</option>
	<option value="708,Phantump">708: Phantump</option>
	<option value="709,Trevenant">709: Trevenant</option>
	<option value="710,Pumpkaboo">710: Pumpkaboo</option>
	<option value="711,Gourgeist">711: Gourgeist</option>
	<option value="712,Bergmite">712: Bergmite</option>
	<option value="713,Avalugg">713: Avalugg</option>
	<option value="714,Noibat">714: Noibat</option>
	<option value="715,Noivern">715: Noivern</option>
	<option value="716,Xerneas">716: Xerneas</option>
	<option value="717,Yveltal">717: Yveltal</option>
	<option value="718,Zygarde">718: Zygarde</option>
</select>
<script>
	$('.selectpicker').selectpicker();
</script>