<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
<div class="container">
	<form action="" method="post" name="addtrade" role="form">
		{{taForm.hidden_tag()}}
		<div class="row">
			<div class="form-group col-md-8">
				<div class="col-md-4">
					<label for="inputSpecies">Species</label>
					{{ taForm.species(class_="selectpicker", id="inputSpecies", **{'data-live-search': 'true', 'data-size': '5'}) }}
				</div>
				<div class="col-md-2">
					<label for="inputCount">Count</label>
					{{ taForm.count(class_="form-control", id="inputCount") }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-8">
				<div class="col-md-4">
					<label for="inputNature">Nature</label>
						{{ taForm.nature(class_="selectpicker", id="inputNature", **{'data-live-search': 'true'}) }}
				</div>
				<div class="col-md-4">
					<label for="inputAbility">Ability</label>
					{{ taForm.ability(class_="selectpicker", id="inputAbility", **{'data-live-search': 'true'}) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-11">
				<div class="col-md-12">
					<label>IVs</label>
				</div>
				<div class="col-md-1">
					{{ taForm.iv_hp(class_="form-control", id="inputHP", **{'data-width': '100%'}) }}
				</div>
				<div class="col-md-1">
					{{ taForm.iv_atk(class_="form-control", id="inputAtk", **{'data-width': '100%'}) }}
				</div>
				<div class="col-md-1">
					{{ taForm.iv_def(class_="form-control", id="inputDef", **{'data-width': '100%'}) }}
				</div>
				<div class="col-md-1">
					{{ taForm.iv_spa(class_="form-control", id="inputSpA", **{'data-width': '100%'}) }}
				</div>
				<div class="col-md-1">
					{{ taForm.iv_spd(class_="form-control", id="inputSpD", **{'data-width': '100%'}) }}
				</div>
				<div class="col-md-1">
					{{ taForm.iv_spe(class_="form-control", id="inputSpe", **{'data-width': '100%'}) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-8">
				<div class="col-md-8">
					<label for="inputMoves">Moves</label>
					{{ taForm.moves(class_="selectpicker", id="inputMoves", **{'data-live-search': 'true', 'data-width': '100%'}) }}
				</div>
			</div>
		</div>
		<div class="form-group col-md-8">
			<div class="col-md-offset-2 col-md-4">
				<button type="submit" class="btn btn-success btn-block">Add</button>
			</div>
		</div>
		<!-- 
		<div class="form-group">
			<label for="inputSpecies" class="col-sm-2 control-label">Species</label>
			{{ taForm.species(class_="selectpicker", id="inputSpecies", **{'data-live-search': 'true'}) }}
		</div>
		<div class="form-group">
			<label for="inputCount" class="col-sm-2 control-label">Count</label>
			<div class="col-sm-10">
				{{ taForm.count(class_="selectpicker", id="inputCount") }}
			</div>
		</div>
		<div class="form-group">
			<label for="inputNature" class="col-sm-2 control-label">Nature</label>
			<div class="col-sm-10">
				{{ taForm.nature(class_="selectpicker", id="inputNature", **{'data-live-search': 'true'}) }}
			</div>
		</div>
		<div class="form-group">
			<label for="inputAbility" class="col-sm-2 control-label">Ability</label>
			<div class="col-sm-10">
				{{ taForm.ability(class_="selectpicker", id="inputAbility", **{'data-live-search': 'true'}) }}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10">
				{{ taForm.iv_hp(class_="form-control", id="inputHP") }}
				{{ taForm.iv_atk(class_="selectpicker", id="inputAtk") }}
				{{ taForm.iv_def(class_="selectpicker", id="inputDef") }}
				{{ taForm.iv_spa(class_="selectpicker", id="inputSpA") }}
				{{ taForm.iv_spd(class_="selectpicker", id="inputSpD") }}
				{{ taForm.iv_spe(class_="selectpicker", id="inputSpe") }}
			</div>
		</div>
		<div class="form-group">
			<label for="inputMoves" class="col-sm-2 control-label">Moves</label>
			<div class="col-sm-10">
				{{ taForm.moves(class_="selectpicker", id="inputMoves", **{'data-live-search': 'true'}) }}
			</div>
		</div> -->
	</form>
</div>
<script>
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
		$('.selectpicker').selectpicker('mobile');
	}
	else {
		$('.selectpicker').selectpicker();
	}
</script>