<div class="col-md-1 col-md-offset-1">
  <img src="{{ url_for('static', filename='img/pkm_images/{}.png'.format(trade.id)) }}" class="pull-right">
</div>
<div class="col-md-2">
  <p class="h2" style="padding-bottom: 5px">{{trade.species}}</span>
</div>
<div class="col-md-2">
  <p><strong>Gender: </strong> Male</p>
  <p><strong>Nature: </strong> Bold</p>
</div>
<div class="col-md-2">
  <p><strong>Ability: </strong> Run away</p>
  <p><strong>IVs: </strong> 31/31/31/X/31/31</p>
</div>
<div class="col-md-3">
  <table class="table table-bordered text-center">
    <tr>
      <td style="width: 50%">Wish</td>
      <td style="width: 50%">Curse</td>
    </tr>
    <tr>
      <td>Yawn</td>
      <td></td>
    </tr>
  </table>
</div>