<!-- extend base layout -->
{% extends "base.html" %}
{% block body %}
{{ super() }}
<div class="row" style="padding-bottom: 30px"></div>
<div class="row well well-lg" id="userInfo">
	<div class="col-md-2 col-xs-4">
		<img src="{{user.avatar(128)}}" class="img-thumbnail">
	</div>
	<div class="col-md-10 col-xs-8">
		<div class="row"><h1>{{user.nickname}}</h1></div>
		{% if user.about_me %}
		<div class="row" id="aboutMe"><p>{{user.about_me|markdown}}</p></div>
		{% endif %}
		{% if user.last_seen %}
		<div class="row"><p><em>Last seen: {{momentjs(user.last_seen).calendar()}}</em></p></div>
		{% endif %}
		<div class="row">{% if user.id == g.user.id %}<a href="javascript:toggleAboutEdit()" class="btn btn-default btn-xs">Edit</a>{% endif %}</div>
	</div>
</div>
<div class="row well well-lg" style="display: none" id="userInfoEdit">
	<form action="{{ url_for('profile_edit') }}" method="post" name="edit">
	    {{eForm.hidden_tag()}}
	    <div class="col-md-2 col-xs-4">
			<a href="https://en.gravatar.com/connect/"><img src="{{user.avatar(128)}}" class="img-thumbnail"></a>
		</div>
		<div class="col-md-10 col-xs-8">
			<div class="form-group">{{eForm.nickname(class_="form-control")}}</div>
			<div class="form-group">
				{{eForm.about_me(class_="form-control", rows = 2)}}
				<span class="help-block">The about me section uses <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save Changes" class="btn btn-default">
				<a href="javascript:toggleAboutEdit()" class="btn btn-default">Cancel</a>
			</div>
		</div>
	</form>
</div>
<div class="row">
	{% for trade in trades.items %}
	<div class="col-md-3 col-xs-6">
		<div class="col-md-6 text-center">
			<div class="row"><img src="{{ url_for('static', filename='img/pkm_images/{}.png'.format((trade.dex_no|string()).zfill(3))) }}" alt="{{ trade.species}}"></div>
			{% if user.id == g.user.id %}
			<div class="row" style="padding-top: 10px">
				<span class="glyphicon glyphicon-pencil"></span>
				<a href="{{url_for('delete', id=trade.id)}}"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
			{% endif %}
		</div>
		<div class="col-md-6">
			<div class="row"><strong>{{ trade.species }}</strong>{% if trade.male|string == 'True' %} ♂{% endif %}{% if trade.female|string == 'True' %} ♀{% endif %}</div>
			<div class="row">{{ trade.nature }}</div>
			<div class="row">{{ trade.ability }}</div>
			<div class="row">{{ trade.iv_hp }}/{{trade.iv_atk}}/{{trade.iv_def}}/{{trade.iv_spa}}/{{trade.iv_spd}}/{{trade.iv_spe}}</div>
			{% if trade.move1 %}<div class="row"><abbr title="{{ trade.move1 }}{% if trade.move2 %} / {{ trade.move2 }}{% endif %}{% if trade.move3 %} / {{ trade.move3 }}{% endif %}{% if trade.move4 %} / {{ trade.move4 }}{% endif %}">Egg moves</abbr></div>{% endif %}
		</div>
	</div>
	{% if loop.index == 4 %}
	</div>
	<hr>
	<div class="row">
	{% endif %}
	{% endfor %}
</div>
<ul class="pager">
	{% if trades.has_prev %}
	<li class="previous"><a href="{{ url_for('user', nickname=user.nickname, page = trades.prev_num) }}">&larr; More</a></li>
	{% else %}
	<li class="previous disabled"><a href="{{ url_for('user', nickname=user.nickname, page = trades.prev_num) }}">&larr; More</a></li>
	{% endif %}
	{% if trades.has_next %}
	<li class="next"><a href="{{ url_for('user', nickname=user.nickname, page = trades.next_num) }}">More &rarr;</a></li>
	{% else %}
	<li class="next disabled"><a href="{{ url_for('user', nickname=user.nickname, page = trades.next_num) }}">More &rarr;</a></li>
	{% endif %}
</ul>
{% if user.id == g.user.id %}
<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#newTradeModal"><span class="glyphicon glyphicon-plus-sign"></span> Add new</button>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="newTradeModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="loginModalLabel">Add new trade</h4>
			</div>
			<div class="modal-body">
				{% include 'trade_add.html' %}
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
{% endblock %}